<div>
  <h1>Bem Vindo!!!</h1>
  <p>faça seu Login</p>
  <form   
    id="formLogin" 
    [formGroup]="formLogin"
    (ngSubmit)="doLogin()">
    <div>
     <label>Login</label>
     <input 
       id="login" 
       formControlName="login" 
       placeholder="Login"
     />
    </div>
    <div>
      <label>Password</label>
      <input 
        id="password" 
        formControlName="password" 
        placeholder="Password"
      />
    </div>
    <app-button type="submit" buttonText="Entrar"></app-button>
    <app-button (click)="trocarSenha()" buttonText="Esqueci Minha Senha"></app-button>
  </form>
</div>


