<div class="home">
  <div class="home__inicio">
    <p>Banco</p>
    <p>Olá, {{user.firstName}}!!!</p>
  </div>
  <div>
    <div>
      <p>Veja seu saldo aqui</p>
      <label *ngIf="balanceInputType === 'text'" >R$</label>
      <input 
        class="home__saldo"
        [type]="balanceInputType"  
        [value]="user.balance"
      />
      <p class="home__paragraf"> < </p>
      <button class="home__button-saldo" (click)="mostrarSaldo()">Mostrar Saldo</button>
    </div>
    <div>
      <button-carrousel
        [items]="buttonCarrouselItem"
      ></button-carrousel>
      <go-to
        [items]="goToItem"
        (goToEmitter)="navigateTo($event)"
      ></go-to>
    </div>
  </div>
</div>
