.go-to{
  padding: 16px;
  border: 1px solid #000000;
  margin-bottom: 16px;
  border-radius: 5px;
  &__button{
    border: none;
    background: none;
    font-size: 22px;
    font-weight: bold;
  }
  &__container{
    display: flex;
    justify-content: end;
  }
}